@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: #eee;
}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'Impact', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}