@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2B2D42;
    color: #EDF2F4;
}

h1 {
    font-family: 'Impact', sans-serif;
}

p {
    font-family: 'Cambria', sans-serif;
}

b {
    font-family: 'Cambria', sans-serif;
    color: #EF233C;
}

.accordion {
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }
  
  .accordion-open {
    max-height: 500px;
  }